.logo {
  display: inline-block;
  object-fit: contain;
}

.logo-small {
  width: 40px;
  height: 40px;
}

.logo-medium {
  width: 64px;
  height: 64px;
}

.logo-large {
  width: 120px;
  height: 120px;
}
